<div class="small-container center-block">
    <p class='font-weight-bold text-uppercase margin-top'>Editar usuario</p>
    <%= image_tag url_for(current_user.avatar), height: 200 %>
    <%=form_with(model: current_user, local: true) do |f| %>
        <div class="field">
            <%= f.label :avatar %>
            <%= f.file_field :avatar %>
        </div>

        <div class="field">
            <%=f.submit "Guardar", class: 'btn btn-primary'%>
        </div>
    <% end %>
</div>